{% extends "base.html" %}

{% block content %}
<div>
  <h1 class="homeImgTitle">Bunker Seeburgtische</h1>
  <img src="../static/images/hoofdpagina-picture.jpg" width="100%" style="height:92VH" />
</div><br />

<div class="container Homecontainer">
  <div class="row">
    <div class="col-sm homepage-tegels">
      <i class="fa fa-envelope homeIcon" aria-hidden="true"></i><br />
      <p>secretariaat@<br />bunkersterschelling.nl</p>
    </div>
    <div class="col-sm homepage-tegels">
      <i class="fa fa-map-marker homeIcon" aria-hidden="true"></i><br />
      <p>Tigerpad 5, 8881 GB,<br /> West-Terschelling</p>
    </div>
  </div>
</div><br />

<div class="container">
  <h1 class="homeTitle">Bunker
    Terschelling
  </h1>
  <p>
    Dit project is gemaakt door Dion Meijboom, Bjorn van der Horst, Rick van Ginkel en Sjoerd Huisman.<br />
    Wij hebben dit project gemaakt als schoolproject. In dit project hebben wij een prototype ontworpen, ontwikkeld
    en een webapplicatie gemaakt voor de stichting bunkersterschelling.
  </p>
  {{ code }}

  <hr>
</div>

{% endblock %}