<!--THIS FILE IS ONLY FOR SHOWING HOW TO PARSE PYTHON TO A TEMPLATE. THIS FILE MUST BE DELETED FOR THE ENDPRODUCT-->
<!DOCTYPE html>
{% set active_page = "parsePython" %}

{% extends "base.html" %}
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Parse python</title>
  </head>s
  <body>
    {% block content %}

    <h1> parse python </h1>
    <p>{{randomNumber}}</p>
        <button name="forwardBtn" type="submit" onclick="led_on()">led ON</button>


    <button name="forwardBtn" type="submit" onclick="led_off()">LED OFF</button>
  <div class="col-sm">
        <video id="video1" width="320" height="180" controls>
          <source src="{{ url_for('static', filename='vliegtuig_pao.mp4') }}" type="video/mp4">
        </video>
        <h3>Video 1</h3>
      </div>

  <button onclick="playPause()">Play/Pause</button>

    {{ forward_message }}
    <script>
        var myVideo = document.getElementById("video1");

    function playPause() {
  if (myVideo.paused) {
      myVideo.play();
      $.ajax({
          url: '/video/on',
          method: 'POST',
      });
  }
  else
    myVideo.pause();
}

    function led_on(){
        $.ajax({
        url: '/led/on',
            method: 'POST',
        });
    }
function led_off(){
        $.ajax({
        url: '/led/off',
            method: 'POST',
        });
    }
</script>
    {% endblock %}
  </body>

</html>