{% set active_page = "Videos" %}
{% extends "base.html" %}

{% block content %}
<div style="margin-top: 2em;" class="container">
  <div class="row">
    <div class="col-8">
      <div class="tab-content" id="pills-tabContent">
        {% for videos in video_data%}
        <div class="tab-pane fade {%if videos.id == 1 %}show active{% endif %}" id="pills-video{{ videos.id }}"
          role="tabpanel" aria-labelledby="pills-video{{ videos.id }}-tab">
          <a onclick=" window.open(('static/{{ videos.href }}'), '_blank');">
            <video style="width: 100%; margin-top: 0.4em;" controls id="myvideo">
              <source src="static/{{ videos.href }}" type="video/mp4">
            </video>
            <h3> {{ videos.title }}</h3>
            <p>{{ videos.beschrijving }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <ul class="nav mb-3 ulTab" id="pills-tab" role="tablist"
      style="display: flex; flex-direction: column; margin-left: 1em;">
      {% for videos in video_data%}
      <li class="nav-item" role="presentation">
        <a class="{%if videos.id == 1 %}active{% endif %} nav-link text-center " id="pills-video{{ videos.id }}-tab"
          data-toggle="pill" href="#pills-video{{ videos.id }}" role="tab" aria-controls="pills-video{{ videos.id }}"
          aria-selected="true" data-bs-target="#pills-video{{ videos.id }}"> <video style="width: 200px;"
            oncontextmenu="return false; ">
            <source src="static/{{ videos.href }} " type="video/mp4">
          </video><br>{{ videos.title }}
        </a>
      </li>

      {% endfor %}

    </ul>
  </div>
</div>


{% endblock %}
</body>

</html>