{% set active_page = "Videos" %}
{% extends "base.html" %}

<body>
  {% block content %}
  <div style="margin-top: 2em;" class="container">
    <div class="row">
      <div class="col-8">
        <h3 id="video-titel">Vid page</h3>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-video1" role="tabpanel" aria-labelledby="pills-video1-tab">
            <a onclick=" window.open(('static', filename = 'static/videos/vliegtuig_pao.mp4'), '_blank');">
              <video style="width: 100%;" controls id="myvideo">
                <source src=" {{ url_for('static', filename='videos/vliegtuig_pao.mp4' ) }}" type="video/mp4">
              </video>
              <p>Titel: uit db</p>
            </a>
          </div>

          <div class="tab-pane fade" id="pills-video2" role="tabpanel" aria-labelledby="pills-video2-tab">
            <a onclick=" window.open(('static', filename = 'static/videos/bunny.mp4'), '_blank');">
              <video style="width: 100%;" controls id="myvideo">
                <source src=" {{ url_for('static', filename='videos/bunny.mp4' ) }}" type="video/mp4">
              </video>
            </a>
          </div>
          <div class="tab-pane fade" id="pills-video3" role="tabpanel" aria-labelledby="pills-video3-tab"> <a
              onclick=" window.open(('static', filename = 'static/videos/bunny.mp4'), '_blank');">
              <video style="width: 100%;" controls id="myvideo">
                <source src=" {{ url_for('static', filename='videos/bunny.mp4' ) }}" type="video/mp4">
              </video>
            </a></div>
        </div>
      </div>



      <ul class="nav mb-3 ulTab" id="pills-tab" role="tablist"
        style="display: flex; flex-direction: column; margin-top: 2.2em; margin-left: 1em;">
        <li class="nav-item" role="presentation">
          <a class="nav-link active text-center" id="pills-video1-tab" data-toggle="pill" href="#pills-video1"
            role="tab" aria-controls="pills-video1" aria-selected="true"> <video style="width: 200px;"
              oncontextmenu="return false; ">
              <source src=" {{ url_for('static', filename='videos/vliegtuig_pao.mp4' ) }}" type="video/mp4">
            </video><br>Video 1
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link text-center" id="pills-video2-tab" data-toggle="pill" href="#pills-video2" role="tab"
            aria-controls="pills-video2" aria-selected="false">
            <video style="width: 200px;" oncontextmenu="return false; ">
              <source src=" {{ url_for('static', filename='videos/bunny.mp4' ) }}" type="video/mp4">
            </video><br>
            Video 2
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link text-center" id="pills-video3-tab" data-toggle="pill" href="#pills-video3" role="tab"
            aria-controls="pills-video3" aria-selected="false">
            <video style="width: 200px;" oncontextmenu="return false; ">
              <source src=" {{ url_for('static', filename='videos/test.mp4' ) }}" type="video/mp4">
            </video><br>
            Video 3
          </a>
        </li>
      </ul>
    </div>


    {% endblock %}
</body>

</html>