<!DOCTYPE html>
{% set active_page = "NewPassword" %}
{% extends "template.html" %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login pagee</title>
</head>
{% block content %}

<body class="main-bg">
    <div class="login-container text-c">
        <section class="mb-5 text-center">
            <h5 class="text-blacksmoke">Voer uw nieuwe wachtwoord in</h5>
            <div class="container-content">
                <form action="#!">
                    <div class="input-background md-form md-outline">
                        <input type="password" id="newPass" class="form-control">
                        <label data-error="wrong" data-success="right" for="newPass">Nieuw wachtwoord</labe>
                    </div>

                    <div class="input-background md-form md-outline">
                        <input type="password" id="newPassConfirm" class="form-control">
                        <label data-error="wrong" data-success="right" for="newPassConfirm">wachtwoord opnieuw</label>
                    </div>
                    <button type="submit" class="form-button button-l margin-b">Reset</button>
                </form>
            </div>
        </section>
    </div>
</body>
{% endblock %}

</html>