<!DOCTYPE html>
{% set active_page = "NewPassword" %}
{% extends "base.html" %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login pagee</title>
</head>
{% block content %}

<body class="main-bg">
    <div class="login-container text-c">
        {% if success == False %}
        <div class="alert alert-danger" role="alert">
            {{ success_message }}
        </div>
        {% endif %}
        <section class="mb-5 text-center">
            <h5 class="text-blacksmoke">Voer uw email in</h5>
            <div class="container-content">
                <form action="" method="post">
                    <div class="input-background md-form md-outline">
                        <input type="email" id="newPass" class="form-control" name="email">
                        <label data-error="wrong" data-success="right" for="newPass">Email</label>
                    </div>
                    <button type="submit" class="form-button button-l margin-b">Verstuur</button>
                </form>
            </div>
        </section>
    </div>
</body>
{% endblock %}

</html>