{% set active_page = "Login" %}
{% extends "base.html" %}

{% block content %}

    <body class="main-bg">

    <div class="login-container text-c">
        {% if success == True %}
        <div class="alert alert-success" role="alert">
            {{ success_message }}
        </div>
        {% endif %}
        <div>
            <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
        </div>
        <h3 class="text-whitesmoke" style="padding-bottom: 0.5em">Login</h3>

        <div class="container-content">
            <form class="margin-t" method="POST" action="/login">
                <div class="form-group">
                    <input class="form-control" ptype="email" name="email" placeholder="Your Email" autofocus="">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Your Password">
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
                <button type="submit" class="form-button button-l margin-b">Sign In</button>

                <a class="text-darkyellow" href="/forgot-password"><small>Forgot your password?</small></a>
                <a class="text-darkyellow" href="{{ url_for('auth.reset_password_request') }}"><small>Forgot your password?</small></a>


            </form>

        </div>
    </div>
    </body>

{% endblock %}

</html>