<!DOCTYPE html>
{% set active_page = "NewPassword" %}
{% extends "base.html" %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login pagee</title>
</head>
{% block content %}

<body
    style="background: url('../../static/images/hoofdpagina-picture.jpg'); background-repeat: no-repeat; background-size: 145%;">
    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6 ">
                    <div class="card1 pb-5">
                        <div class="row"> </div>
                        <div class="row px-3 justify-content-center mt-4 mb-5 pictureBackgroundLogin"> <img
                                src="../../static/images/LogoBunkersTS2.png" class="image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form method="POST" action="" class="LoginFormFields">

                        {{ form.hidden_tag() }}

                        <div class="row px-3 loginForm""> <label class=" mb-1">
                            <button type="button" class="btn btn-primary btn-sm PasswordResetBackButton">
                                <a href="/login" class="PasswordResetBackButtonLink">
                                    <i class="fas fa-arrow-left"></i> Back
                                </a>
                            </button>
                            <h6 class="mb-0 text-sm">Email Address</h6>
                            <div class="ResetPasswordContainer">
                                {{ form.email(class_="form-control") }}
                            </div>
                            </label>
                        </div>

                        <div class="row px-3 mb-4">

                        </div>
                        <div class="row mb-3 px-3">
                            <p class="PasswordConfirmRequestSubmit">{{ form.submit(class_=" form-button button-l
                                margin-b")}}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    </div>
</body>

{% endblock %}

</html>