{% set active_page = "admin" %}
{% extends "base.html" %}

<body>
    {% block content %}
    <h1>Adminpanel</h1>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CreateModal" style="float: right;"
        data-whatever="@mdo">Create video</button>

    <div class="nav nav-tabs" id="nav-tab" role="tablist" style="margin-top: 1em;">
        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">Videos</a>
        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">Gebruikers</a>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Naam</th>
                        <th scope="col">beschrijving</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in video_data %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{video.title}}</td>
                        <td>{{video.beschrijving}}</td>
                        <td><button type="button" class="btn btn-danger"><i class="fa fa-trash"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"
                                data-whatever="@mdo"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row">1</th>
                        <td>Grote konijn</td>
                        <td>Leuke beschrijving</td>
                        <td><button type="button" class="btn btn-danger"><i class="fa fa-trash"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"
                                data-whatever="@mdo"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Kleine konijn</td>
                        <td>Leukere beschrijving</td>
                        <td><button type="button" class="btn btn-danger"><i class="fa fa-trash"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"
                                data-whatever="@mdo"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Admin</td>
                        <td>admin@admin.nl</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="CreateModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CreateModalLabel">Create video</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title" class="col-form-label">Titel:</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div class="form-group">
                            <label for="beschrijving" class="col-form-label">Beschrijving:</label>
                            <textarea class="form-control" id="beschrijving"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="upload-video" class="col-form-label">Upload video:</label>
                            <input type="file" id="myFile" name="filename">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Upload video</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EditModalLabel">Edit video</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="title" class="col-form-label">Titel:</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div class="form-group">
                            <label for="beschrijving" class="col-form-label">Beschrijving:</label>
                            <textarea class="form-control" id="beschrijving"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="upload-video" class="col-form-label">Upload video:</label>
                            <input type="file" id="myFile" name="filename">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Update video</button>
                </div>
            </div>
        </div>
    </div>




    {% endblock %}
</body>