{% set active_page = "edit_punten" %}
{% extends "base.html" %}

<body onload="updateMarkerList()">
    {% block content %}
    <!-- Page header with logo and tagline-->
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <a href="#!"> <video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto"
                            autoplay width="750" height="360" data-setup='{"width": 100%, "height": 360}'>
                            <source src="{{ url_for('static', filename=file) }}" type='video/mp4' />
                        </video></a>

                </div>
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <div id="videoStappenTableY" class="m-4">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Blog post-->

                    </div>
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <div id="videdPuntenTable" class="m-3">
                                lijst
                            </div>
                        </div>
                        <!-- Blog post-->
                    </div>
                </div>
                <!-- Pagination-->

            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->

                <!-- Categories widget -->
                <div class="card mb-4">
                    <div class=" card-header">Laser aansturing</div>
                    <div class="card-body" ">
                    <div class=" row">
                        <div class="col-sm-6">
                            <button onclick="addMarkerLaserOn()" class="btn btn-primary">
                                Laser aan
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button onclick="addMarkerLaserOff()" class="btn btn-primary">
                                Laser uit
                            </button>
                        </div>
                        <div class="col-sm-11" style="text-align: center; margin-top: 1em;">
                            <button onclick="saveMarkers({{ id }})" class="btn btn-primary">
                                save markers
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Aansturing motor X</div>
                <div class="card-body">
                    <div class="col-sm-12" style="text-align: center;">
                        <button type="button" onClick="getX_Links()" class="btn btn-primary">
                            Motor X links
                        </button><br /><br />
                        <button onclick="getX_Rechts()" class="btn btn-primary">
                            Motor X rechts
                        </button><br /><br />
                        <button onclick="updateStappenListX({{ stappenX }})" class="btn btn-primary">
                            Save motor X
                        </button><br /><br />
                        <p>X motor maakt <a id="stappenX">0</a> stappen</p>
                    </div>

                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Aansturing motor Y</div>
                <div class="card-body">
                    <div class="col-sm-12" style="text-align: center;">
                        <button type="button" onClick="getY_Links()" class="btn btn-primary">
                            Motor Y links
                        </button><br /><br />
                        <button onclick="getY_Rechts()" class="btn btn-primary">
                            Motor Y rechts
                        </button><br /><br />
                        <button onclick="updateStappenListY({{ stappenY }})" class="btn btn-primary">
                            Save motor Y
                        </button><br /><br />
                        <p>Y motor maakt <a id="stappenY">0</a> stappen</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Footer-->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

    </html>
    {#
    <script src="{{ url_for('static', filename='js/videoPuntenEdit.js') }}" type="application/javascript"></script>
    #}
    <link href="{{ url_for('static', filename='css/videopunten.css') }}" rel="stylesheet">

    <script>
        var stappenX = 0;
        var stappenY = 0;
        var video = videojs('example_video_1');

        $.getJSON('http://127.0.0.1:5000/test/{{ id }}', function (data) {
            console.log(data)
            data1 = data;
            video.markers({
                markers: data1,
            });
            setTimeout(() => {
                updateMarkerList();
            }, 500);
        });

        // load video object

        function addMarkerLaserOn() {
            console.log("current time = " + video.currentTime);
            video.markers.add([{
                time: video.currentTime(),
                text: "ON",
            }]);
            updateMarkerList();
        }

        function addMarkerLaserOff() {
            console.log("current time = " + video.currentTime);
            video.markers.add([{
                time: video.currentTime(),
                text: "OFF",
                class: 'custom-marker1'
            }]);
            updateMarkerList();
        }

        function updateMarkerList() {
            var vidList = video.markers.getMarkers();
            markerId = 1
            $("#videdPuntenTable").html("");
            var button = "<button onclick='removeMarker(" + markerId + ")'>verwijderen</button>";
            var markerTable = $("<table>").addClass("tbl_sm");
            var tr = $("<tr>")
                // maak header row met td's aan
                .append($("<th>").html("Tijd"))
                .append($("<th>").html("aan of uit"))
                .append($("<th>").html("Verwijder"));
            markerTable.append(tr);
            $(vidList).each(function (key, marker) {
                if (key != 0) {
                    var tr = $("<tr>")
                        // maak header row met td's aan
                        .append($("<td>").html(marker.time))
                        .append($("<td>").html(marker.text))
                        .append($("<td><button onclick='removeMarker(" + markerId + ")'>verwijderen</button>"))
                        .append($("<td>").html(markerId));
                    markerTable.append(tr);
                    markerId = markerId + 1;
                }
            });
            $("#videdPuntenTable").append(markerTable);
        }

        function removeMarker(id) {
            if (id != 0) {
                video.markers.remove([id]);
            }
            updateMarkerList();
        }

        function saveMarkers(id) {
            var proceed = confirm("Weet je zeker dat je alle punten hebt toegevoegd?");
            if (proceed) {
                //proceed
                jsonObj = [];
                var markerarray = video.markers.getMarkers();
                $(markerarray).each(function (key, marker) {
                    timeMarks = {};
                    timeMarks['time'] = marker['time'];
                    timeMarks['text'] = marker['text'];
                    console.log(marker['time']);
                    console.log(marker['text']);
                    jsonObj.push(timeMarks);
                });
                console.log(jsonObj);
                str = JSON.stringify(jsonObj);
                var url = '/admin/video/' + id + '/punten/edit/';
                var form = $('<form action="' + url + '" method="post" style="visibility: hidden">' +
                    '<input type="text" name="videopunten" value=' + str + ' />' +
                    '</form>');
                $('body').append(form);
                console.log(str); // Logs output to dev tools console.
                form.submit();

            } else {
                //don't proceed
            }
        }


        function getX_Links() {
            $.get('/motor/call/m1/links', function (data) {
                console.log(data)
                stappenX -= 1;
                document.getElementById("stappenX").innerHTML = stappenX;
            });
        }

        function getX_Rechts() {
            $.get('/motor/call/m1/rechts', function (data) {
                console.log(data)
                stappenX += 1;
                document.getElementById("stappenX").innerHTML = stappenX;
            });
        }

        function getY_Links() {
            $.get('/motor/call/m2/links', function (data) {
                console.log(data)
                stappenY -= 1;
                document.getElementById("stappenY").innerHTML = stappenY;
            });
        }

        function getY_Rechts() {
            $.get('/motor/call/m2/rechts', function (data) {
                console.log(data)
                stappenY += 1;
                document.getElementById("stappenY").innerHTML = stappenY;
            });
        }

        document.onkeydown = checkKey;

        function checkKey(e) {

            e = e || window.event;

            if (e.keyCode == '38') {
                // up arrow
                getY_Links();
            } else if (e.keyCode == '40') {
                // down arrow
                getY_Rechts();
            } else if (e.keyCode == '37') {
                // left arrow
                getX_Links();
            } else if (e.keyCode == '39') {
                // right arrow
                getX_Rechts()
            }

        }


        function updateStappenListY(stappen) {
            if (stappenY <= 0) {
                var markup = "<tr><td>MoterY Links</td><td>" + stappenY + "</td></tr>";
            }
            else {
                var markup = "<tr><td>MoterY rechts</td><td>" + stappenY + "</td></tr>";
            }

            $("table tbody").append(markup);
            // console.log(stappen)
        }


        function updateStappenListX(stappen) {
            if (stappenX <= 0) {
                var markup = "<tr><td>MoterX Links</td><td>" + stappenX + "</td></tr>";
            }
            else {
                var markup = "<tr><td>MoterX rechts</td><td>" + stappenX + "</td></tr>";
            }

            $("table tbody").append(markup);
            // console.log(stappen)
        }

        function removeMarker(id) {
            if (id != 0) {
                video.markers.remove([id]);
            }
            updateMarkerList();
        }
    </script>
    {% endblock %}
</body>